<div class="container-fluid p-0">
  <div class="row">
    <div class="col-12">     
      <div class="login-card">
        <div>
          <div>
            <a class="logo">
              <img class="img-fluid for-light" src="assets/images/logo/logo_LGS.png" style=" max-width: 200px  !important; " alt="looginpage">
              <img class="img-fluid for-dark" src="assets/images/logo/logo_LGS.png" style=" max-width: 200px" alt="looginpage">
            </a>
          </div>
          <div class="login-main">
            <form class="theme-form" [formGroup]="registerForm">
              <h4 class="mb-4 ">Create Your Password</h4>
              <div class="form-group">
                <label class="col-form-label">New Password</label>
                <input class="form-control btn-pill" [type]="show ? 'text' : 'password'" formControlName="password" required="" placeholder="********">
                <div class="show-hide" (click)="showPassword()" *ngIf="!show"><span class="show"></span></div>
                <div class="show-hide" (click)="showPassword()" *ngIf="show"><span class="Hide"></span></div>
                <div *ngIf="registerForm.controls.password.touched && registerForm.controls.password.errors?.required"
                      class="text text-danger mt-1">
                      Password is required
                </div>
                <div *ngIf="registerForm.controls.password.touched && registerForm.controls.password.errors?.minlength"
                      class="text text-danger mt-1">
                      min 4 caracters
                </div>
                <div *ngIf="registerForm.controls.password.touched && registerForm.controls.password.errors?.maxlength"
                      class="text text-danger mt-1">
                      
                </div>
              </div>
              <div class="form-group">
                <label class="col-form-label">Retype Password</label>
                <input class="form-control btn-pill" [type]="show ? 'text' : 'password'" formControlName="confirmPassword" required="" placeholder="********">
                <div class="show-hide" (click)="showPassword()" *ngIf="!show"><span class="show"></span></div>
                <div class="show-hide" (click)="showPassword()" *ngIf="show"><span class="Hide"></span></div>
                <div *ngIf="registerForm.controls.confirmPassword.touched && registerForm.controls.confirmPassword.errors?.required || registerForm.controls.confirmPassword.value != registerForm.controls.password.value"
                      class="text text-danger mt-1">
                      Password is not the same
                </div>
                <div *ngIf="registerForm.controls.confirmPassword.touched && registerForm.controls.confirmPassword.errors?.minlength"
                      class="text text-danger mt-1">
                      min 4 caracters
                </div>
                <div *ngIf="registerForm.controls.confirmPassword.touched && registerForm.controls.confirmPassword.errors?.maxlength"
                      class="text text-danger mt-1">
                      max 12 caracters
                </div>
              </div>
              <div class="form-group mt-4">
                <button  class="btn btn-primary btn-pill d-block w-100"
                  [disabled]="!registerForm.valid  || registerForm.controls.confirmPassword.value != registerForm.controls.password.value"
                  (click)="setPassword()"
                  type="button"><span>Done</span>
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
