<div class="container-fluid p-0">
  <div class="row">
    <div class="col-12">     
      <div class="login-card">
        <div>
          <div>
            <a class="logo">
              <img class="img-fluid for-light" src="assets/images/logo/logo_LGS.png" style=" max-width: 200px  !important; " alt="looginpage">
              <img class="img-fluid for-dark" src="assets/images/logo/logo_LGS.png" style=" max-width: 200px" alt="looginpage">
            </a>
          </div>
          <div class="login-main">
            <form class="theme-form" [formGroup]="loginForm">
              <h4>Sign in to your account</h4>
              <p>Enter your email & password to login</p>
              <div class="form-group">
                <label class="col-form-label">Email Address</label>
                <input class="form-control btn-pill" type="email" required="" placeholder="app@yourmail.com" formControlName="email">
                  <div *ngIf="loginForm.controls.email.errors && loginForm.controls.email.touched && loginForm.controls.email.errors.required"
                      class="text text-danger mt-1">
                      Email is required
                  </div>
                  <div *ngIf="loginForm.controls.email.errors && loginForm.controls.email.touched && loginForm.controls.email.errors?.email"
                      class="text text-danger mt-1">
                      Invalid Email
                  </div>
              </div>
              <div class="form-group">
                <label class="col-form-label">Password</label>
                <input class="form-control btn-pill" [type]="show ? 'text' : 'password'" formControlName="password" required="" placeholder="********" />
                <div class="show-hide" (click)="showPassword()" *ngIf="!show"><span class="show"></span></div>
                <div class="show-hide" (click)="showPassword()" *ngIf="show"><span class="Hide"></span></div>
                <div *ngIf="loginForm.controls.password.touched && loginForm.controls.password.errors?.required"
                      class="text text-danger mt-1">
                      Password is required
                </div>
                <div *ngIf="loginForm.controls.password.touched && loginForm.controls.password.errors?.minlength"
                      class="text text-danger mt-1">
                      Password min 4 caracters
                </div>
                <div *ngIf="loginForm.controls.password.touched && loginForm.controls.password.errors?.maxlength"
                      class="text text-danger mt-1">
                      Password max 12 caracters
                </div>
              </div>
              <div class="form-group mb-0">
                <div class="text-end mt-3">
                  <button class="btn btn-primary btn-pill d-block w-100" [disabled]="!loginForm.valid" (click)="doLogin()" type="button"><span>Sign in</span></button>
                </div>
                <p class="mt-4 mb-0">
                  Don't have account?
                  <a [routerLink]="'/auth/register'" class="ms-2">Create Account</a>
                </p>
                <p class="mt-4 mb-0">
                  <a [routerLink]="'/auth/forgot-password'" class="ml-2">Forgot password?</a>
                </p>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
